include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include addr_detector/model/ft_ad.ftz
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include addr_detector *ftz
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
